* {
  margin: 0;
  padding: 0;
}
.yellow-bar {
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}
.yellow-bar li a{
  text-decoration: none;
  color: black;
}
.yellow-bar li a:hover{
  color: red;
}
@media only screen and (max-width: 800px) {
  .yellow-bar {
    display: none;
  }

}
header {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 450px;
  contain: content;
}
.cover {
  /* /* background-color: black; */
  position: absolute;
  text-align: center;
  max-height: 450px;
  font-size: 4rem;
  transition:font-size 1s;
}
.cover:hover{
  
  font-size: 4.5rem;
}
@media only screen and (max-width: 800px) {
  .cover {
    font-size: 2rem;
  }
  .cover:hover{
    font-size: 2.1rem;
  }
}
.course-info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.info-box {
  width: 400px;
  padding: 20px 5px;
  border-radius: 25px;
  box-shadow: 2px 5px;
}
@media only screen and (max-width:800px) {
.info-box{
  width: 300px;
}  
.info-box table tr{
  font-size: 1rem;
}
}
td {
  padding: 10px 30px;
}
.course-box {
  margin-top: 20px;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.eligiblity {
  text-align: center;
  width: 400px;
}
.eligiblity p {
  margin-top: 10px;
}
@media only screen and (max-width: 800px) {
  .eligiblity {
    width: 300px;
    font-size: 0.8rem;
  }
}
.course-btn {
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

.noticeboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  
}
/* .notice-card {
  background-color: rgb(235, 235, 235);
  padding: 20px 10px;
  width: 600px;

} */
/* @media only screen and (max-width: 800px) {
  .notice-card {
    width: 300px;
  }
} */
.title {
  margin-bottom: 10px;
}
/* Sliding container styles */
.box-slide {
  display: flex;  
  overflow-x: auto;
  padding: 20px 0;
  scroll-behavior: smooth;
  gap: 10px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.box-slide::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 800px) {
  .box-slide {
    width: 95vw;
  }
}

/* Notice card styles */
.notice-card {
  flex: 0 0 auto;
  width: 200px;
  padding: 15px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.two-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 40px 20px;
}
.timetable {
  text-align: center;
}
.box,
.box2 {

  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.two-block button {
  border: 2px solid #c3a6ff;
  border-radius: 15px;
  padding: 10px 50px;
}
.timetable button {
  background-color: #c3a6ff;
  color: white;
  width: 250px;
  transition: width 1s ease;
}


.syllabus {
  text-align: center;
}
.syllabus button {
  color: #c3a6ff;
  background-color: white;
  width: 250px;
  transition: width 1s ease;
}
button:hover{
  cursor: pointer;
  width: 150px;
 border: 2px solid rgb(255, 174, 0);
}





.form-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.form-container {
  margin-top: 20px;
  /* background-color: #7f5dc2; */
  border: 2px solid #7f5dc2;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}
@media only screen and (max-width: 800px) {
  .form-container {
    width: 250px;
  }
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #7f5dc2;
  margin-bottom: 5px;
}

input, textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #d8c5ff;
}

#btn{
  background-color: #8564c5;
  color: white;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  border: none;
}


.block {
  position: relative;

}
.block img {
  height: 400px;
}
@media only screen and (max-width: 800px) {
  .block img {
    height: 300px;
  }
}
.blue-box {
  position: absolute;
  top: 0;
  background-color: #7f5dc2;
  width: 100%;
  height: 400px;
  filter: opacity(0.5);
}
@media only screen and (max-width: 800px) {
  .blue-box {
    height: 300px;
  }
}