.bgc-white{

}
.bgc-yellow{

background-color: #f9d800;
}
.bgc-halfwhite{
    background-color: #FFEBB2;
}
.bgc-lightpurple{
    background-color: rgb(229, 155, 233);
}
.bgc-mediumpurple{
    background-color: rgb(216, 98, 188);
}
.bgc-hardpurple{
    background-color: rgb(134, 68, 162);
}

.boarde-medium{
    background-color: rgb(216, 98, 188);
}